In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#importing relevant libraries

In [2]:
data=pd.read_csv('loan.csv')
#importing dataset

c:\Users\mash1006\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [10]:
s=data.shape
n=data.isnull().sum()
#checking the shape of dataset to know of no. of drivers available & checking the no. of null enteries in the dataset as part of data cleaning process

In [131]:
data1=data.dropna(axis=1,how='all')
n1=data1.isnull().sum()

In [132]:
data2=data1.drop(data.columns[[10,11,51,52,19,28,29,47]],axis=1)
n2=data2.isnull().sum()

In [137]:
col=data2.columns
for i in col:
    print(i)
    print(data2[i].value_counts(normalize=True)*100)

id
1077501    0.002518
568534     0.002518
568659     0.002518
567165     0.002518
568531     0.002518
             ...
785667     0.002518
785659     0.002518
785630     0.002518
785626     0.002518
87023      0.002518
Name: id, Length: 39717, dtype: float64
member_id
1296599    0.002518
731393     0.002518
731544     0.002518
729629     0.002518
731390     0.002518
             ...
989001     0.002518
988993     0.002518
988959     0.002518
988954     0.002518
86999      0.002518
Name: member_id, Length: 39717, dtype: float64
loan_amnt
10000    7.132966
12000    5.876577
5000     5.164036
6000     4.803988
15000    4.771257
           ...
22875    0.002518
8175     0.002518
19475    0.002518
21225    0.002518
22550    0.002518
Name: loan_amnt, Length: 885, dtype: float64
funded_amnt
10000    6.901327
12000    5.649974
5000     5.136340
6000     4.778810
15000    4.491779
           ...
26250    0.002518
24725    0.002518
31750    0.002518
22625    0.002518
22350    0.002518
Name: funded_amnt, Length: 1041, dtype: float64
funded_amnt_inv
5000.000000     3.306558
10000.000000    3.220673
6000.000000     3.031222
12000.000000    2.700313
8000.000000     2.273416
                  ...
18400.281660    0.002526
14659.820000    0.002526
6294.151315     0.002526
23919.589520    0.002526
11808.924370    0.002526
Name: funded_amnt_inv, Length: 8204, dtype: float64
term
 36 months    73.258302
 60 months    26.741698
Name: term, dtype: float64
int_rate
10.99%    2.407030
13.49%    2.079714
11.49%    2.077196
7.51%     1.981519
7.88%     1.825415
            ...
18.36%    0.002518
16.96%    0.002518
16.15%    0.002518
16.01%    0.002518
17.44%    0.002518
Name: int_rate, Length: 371, dtype: float64
installment
311.11     0.171211
180.96     0.148551
311.02     0.135962
150.80     0.120855
368.45     0.115819
             ...
1224.46    0.002518
63.44      0.002518
157.67     0.002518
492.34     0.002518
255.43     0.002518
Name: installment, Length: 15383, dtype: float64
grade
B    30.264119
A    25.392149
C    20.389254
D    13.362036
E     7.155626
F     2.641186
G     0.795629
Name: grade, dtype: float64
sub_grade
B3    7.344462
A4    7.266410
A5    6.903845
B5    6.808168
B4    6.324748
C1    5.378050
B2    5.179142
C2    5.063323
B1    4.607599
A3    4.557242
C3    3.849737
A2    3.796863
D2    3.394013
C4    3.112018
C5    2.986127
D3    2.953395
A1    2.867790
D4    2.469975
D1    2.344084
D5    2.200569
E1    1.921092
E2    1.651686
E3    1.392351
E4    1.143087
E5    1.047410
F1    0.828361
F2    0.626936
F3    0.465796
F4    0.422993
F5    0.297102
G1    0.261853
G2    0.196389
G4    0.140998
G3    0.120855
G5    0.075534
Name: sub_grade, dtype: float64
home_ownership
RENT        47.584158
MORTGAGE    44.462069
OWN          7.699474
OTHER        0.246746
NONE         0.007553
Name: home_ownership, dtype: float64
annual_inc
60000.0    3.789309
50000.0    2.661329
40000.0    2.205605
45000.0    2.089785
30000.0    2.077196
             ...
56820.0    0.002518
45314.0    0.002518
53913.0    0.002518
62880.0    0.002518
27376.0    0.002518
Name: annual_inc, Length: 5318, dtype: float64
verification_status
Not Verified       42.603923
Verified           32.250674
Source Verified    25.145404
Name: verification_status, dtype: float64
issue_d
Dec-11    5.690259
Nov-11    5.597099
Oct-11    5.322658
Sep-11    5.194249
Aug-11    4.854344
Jul-11    4.708311
Jun-11    4.600045
May-11    4.252587
Apr-11    3.932825
Mar-11    3.633205
Jan-11    3.474583
Feb-11    3.265604
Dec-10    3.190070
Oct-10    2.850165
Nov-10    2.822469
Jul-10    2.817433
Sep-10    2.734345
Aug-10    2.714203
Jun-10    2.590830
May-10    2.316388
Apr-10    2.082232
Mar-10    1.855629
Feb-10    1.578669
Nov-09    1.515724
Dec-09    1.505652
Jan-10    1.482992
Oct-09    1.372208
Sep-09    1.130498
Aug-09    1.027268
Jul-09    0.941662
Jun-09    0.896342
May-09    0.803183
Apr-09    0.730166
Mar-09    0.694917
Feb-09    0.654632
Jan-09    0.601757
Mar-08    0.594204
Dec-08    0.561472
Nov-08    0.463278
Feb-08    0.438100
Jan-08    0.430546
Apr-08    0.390261
Oct-08    0.241710
Dec-07    0.214014
Jul-08    0.208979
May-08    0.178765
Aug-08    0.178765
Jun-08    0.166176
Oct-07    0.118337
Nov-07    0.093159
Aug-07    0.083088
Sep-08    0.080570
Jul-07    0.075534
Sep-07    0.045321
Jun-07    0.002518
Name: issue_d, dtype: float64
loan_status
Fully Paid     82.961956
Charged Off    14.167737
Current         2.870307
Name: loan_status, dtype: float64
pymnt_plan
n    100.0
Name: pymnt_plan, dtype: float64
url
https://lendingclub.com/browse/loanDetail.action?loan_id=1077501    0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=568534     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=568659     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=567165     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=568531     0.002518
                                                                      ...
https://lendingclub.com/browse/loanDetail.action?loan_id=785667     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=785659     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=785630     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=785626     0.002518
https://lendingclub.com/browse/loanDetail.action?loan_id=87023      0.002518
Name: url, Length: 39717, dtype: float64
purpose
debt_consolidation    46.934562
credit_card           12.916383
other                 10.053629
home_improvement       7.493013
major_purchase         5.506458
small_business         4.602563
car                    3.900093
wedding                2.384369
medical                1.744845
moving                 1.467885
vacation               0.959287
house                  0.959287
educational            0.818289
renewable_energy       0.259335
Name: purpose, dtype: float64
title
Debt Consolidation                  5.500428
Debt Consolidation Loan             4.354506
Personal Loan                       1.659699
Consolidation                       1.302070
debt consolidation                  1.271848
                                      ...
your rate is better than my rate    0.002519
Concession Trailer                  0.002519
gregs                               0.002519
EZover                              0.002519
JAL Loan                            0.002519
Name: title, Length: 19615, dtype: float64
zip_code
100xx    1.503135
945xx    1.372208
112xx    1.299192
606xx    1.266460
070xx    1.190926
           ...
381xx    0.002518
378xx    0.002518
739xx    0.002518
396xx    0.002518
469xx    0.002518
Name: zip_code, Length: 823, dtype: float64
addr_state
CA    17.873958
NY     9.597905
FL     7.216054
TX     6.866077
NJ     4.657955
IL     3.839666
PA     3.819523
VA     3.542564
GA     3.519903
MA     3.373870
OH     3.079286
MD     2.641186
AZ     2.213158
WA     2.114963
CO     1.994108
NC     1.984037
CT     1.890878
MI     1.812826
MO     1.727220
MN     1.548455
NV     1.251353
SC     1.188408
WI     1.158194
AL     1.138052
OR     1.135534
LA     1.097767
KY     0.818289
OK     0.752826
KS     0.682327
UT     0.649596
AR     0.616864
DC     0.538812
RI     0.498527
NM     0.475867
WV     0.445653
HI     0.438100
NH     0.430546
DE     0.287031
MT     0.214014
WY     0.208979
AK     0.201425
SD     0.161140
VT     0.135962
MS     0.047838
TN     0.042803
IN     0.022660
ID     0.015107
IA     0.012589
NE     0.012589
ME     0.007553
Name: addr_state, dtype: float64
dti
12.00    0.129003
18.00    0.113826
19.20    0.101179
13.20    0.098649
13.50    0.096120
           ...
29.13    0.002529
25.31    0.002529
29.76    0.002529
28.42    0.002529
25.43    0.002529
Name: dti, Length: 2867, dtype: float64
delinq_2yrs
1.0     76.600186
2.0     15.932282
3.0      5.102041
4.0      1.437848
5.0      0.510204
6.0      0.231911
7.0      0.092764
8.0      0.046382
9.0      0.023191
11.0     0.023191
Name: delinq_2yrs, dtype: float64
earliest_cr_line
Nov-98    0.931591
Oct-99    0.921520
Dec-98    0.876199
Oct-00    0.871163
Dec-97    0.828361
            ...
Feb-66    0.002518
Dec-61    0.002518
Oct-54    0.002518
Jun-72    0.002518
Oct-74    0.002518
Name: earliest_cr_line, Length: 526, dtype: float64
inq_last_6mths
1.0    53.734633
2.0    28.466474
3.0    14.928736
4.0     1.596709
5.0     0.715090
6.0     0.313464
7.0     0.171426
8.0     0.073468
Name: inq_last_6mths, dtype: float64
open_acc
7     10.116575
6      9.935292
8      9.910114
9      9.361231
10     8.114913
5      8.014200
11     6.913916
4      5.899237
12     5.722990
13     4.811542
3      3.759096
14     3.743989
15     2.963467
16     2.366745
17     1.865700
2      1.523277
18     1.341995
19     0.997054
20     0.727648
21     0.614347
22     0.360047
23     0.244228
24     0.203943
25     0.138480
26     0.085606
28     0.062945
27     0.055392
30     0.037767
29     0.032732
31     0.017625
34     0.012589
32     0.010071
35     0.010071
33     0.007553
36     0.005036
39     0.002518
38     0.002518
44     0.002518
41     0.002518
42     0.002518
Name: open_acc, dtype: float64
pub_rec
1.0    97.164461
2.0     2.410208
3.0     0.330813
4.0     0.094518
Name: pub_rec, dtype: float64
revol_bal
298.0      0.036154
255.0      0.036154
1.0        0.030989
682.0      0.028407
346.0      0.023242
             ...
21424.0    0.002582
30747.0    0.002582
23862.0    0.002582
20197.0    0.002582
85607.0    0.002582
Name: revol_bal, Length: 21710, dtype: float64
revol_util
0%        2.463005
0.20%     0.158822
63%       0.156301
40.70%    0.146217
66.70%    0.146217
            ...
25.74%    0.002521
47.36%    0.002521
24.65%    0.002521
10.61%    0.002521
7.28%     0.002521
Name: revol_util, Length: 1089, dtype: float64
total_acc
16    3.703704
15    3.681043
17    3.668454
14    3.638241
20    3.595438
        ...
74    0.002518
77    0.002518
78    0.002518
87    0.002518
90    0.002518
Name: total_acc, Length: 82, dtype: float64
initial_list_status
f    100.0
Name: initial_list_status, dtype: float64
out_prncp
2963.24    0.175439
827.13     0.175439
2277.11    0.175439
1972.60    0.175439
524.06     0.087719
             ...
2296.41    0.087719
1928.85    0.087719
1061.32    0.087719
4977.37    0.087719
79.24      0.087719
Name: out_prncp, Length: 1136, dtype: float64
out_prncp_inv
1664.64    0.175439
1972.60    0.175439
827.13     0.175439
524.06     0.087719
1974.23    0.087719
             ...
2289.14    0.087719
1928.85    0.087719
1061.32    0.087719
4977.37    0.087719
79.24      0.087719
Name: out_prncp_inv, Length: 1137, dtype: float64
total_pymnt
11196.569430    0.065490
10956.775960    0.040301
11784.232230    0.040301
13148.137860    0.037782
5478.387981     0.037782
                  ...
17768.430010    0.002519
12794.806580    0.002519
6193.803706     0.002519
34797.769170    0.002519
9195.263334     0.002519
Name: total_pymnt, Length: 37849, dtype: float64
total_pymnt_inv
6514.52     0.040453
5478.39     0.035396
13148.14    0.035396
10956.78    0.030340
11196.57    0.030340
              ...
17702.50    0.002528
19026.06    0.002528
7355.24     0.002528
387.55      0.002528
980.83      0.002528
Name: total_pymnt_inv, Length: 37517, dtype: float64
total_rec_prncp
10000.00    5.784123
12000.00    4.553137
5000.00     4.293318
6000.00     4.129354
15000.00    3.531519
              ...
1097.81     0.002523
1410.30     0.002523
6968.65     0.002523
3477.49     0.002523
16077.42    0.002523
Name: total_rec_prncp, Length: 7975, dtype: float64
total_rec_int
1196.57    0.065580
514.52     0.047924
1148.14    0.042879
1784.23    0.042879
717.95     0.042879
             ...
494.53     0.002522
1119.88    0.002522
62.31      0.002522
2656.10    0.002522
1695.26    0.002522
Name: total_rec_int, Length: 35147, dtype: float64
total_rec_late_fee
15.000000    12.463343
15.000000     2.834800
30.000000     2.688172
15.000000     2.297165
15.000000     1.955034
               ...
35.286832     0.048876
15.000000     0.048876
14.777500     0.048876
14.967774     0.048876
19.890000     0.048876
Name: total_rec_late_fee, Length: 1355, dtype: float64
recoveries
10.40      0.094832
11.29      0.094832
16.50      0.071124
19.20      0.071124
11.20      0.071124
             ...
764.69     0.023708
653.08     0.023708
1080.96    0.023708
878.19     0.023708
21.29      0.023708
Name: recoveries, Length: 4039, dtype: float64
collection_recovery_fee
2.0000      0.317292
1.2000      0.264410
3.7100      0.237969
1.6900      0.211528
1.6000      0.211528
              ...
3.7900      0.026441
773.4900    0.026441
272.8250    0.026441
1.7697      0.026441
0.2300      0.026441
Name: collection_recovery_fee, Length: 2615, dtype: float64
last_pymnt_d
May-16    3.168037
Mar-13    2.587903
Dec-14    2.383595
May-13    2.287747
Feb-13    2.191898
            ...
Jun-08    0.025223
Nov-08    0.025223
Mar-08    0.012612
Jan-08    0.010089
Feb-08    0.002522
Name: last_pymnt_d, Length: 101, dtype: float64
last_pymnt_amnt
276.06     0.052973
200.00     0.042883
50.00      0.040360
100.00     0.037838
773.44     0.030270
             ...
1763.87    0.002523
172.27     0.002523
889.67     0.002523
150.73     0.002523
256.59     0.002523
Name: last_pymnt_amnt, Length: 34929, dtype: float64
last_credit_pull_d
May-16    25.954929
Apr-16     6.413194
Mar-16     2.827647
Feb-13     2.122624
Feb-16     1.853204
            ...
May-08     0.002518
Jun-08     0.002518
Jul-08     0.002518
May-07     0.002518
Jul-07     0.002518
Name: last_credit_pull_d, Length: 106, dtype: float64
collections_12_mths_ex_med
Series([], Name: collections_12_mths_ex_med, dtype: float64)
acc_now_delinq
Series([], Name: acc_now_delinq, dtype: float64)
chargeoff_within_12_mths
Series([], Name: chargeoff_within_12_mths, dtype: float64)
delinq_amnt
Series([], Name: delinq_amnt, dtype: float64)
pub_rec_bankruptcies
1.0    99.583581
2.0     0.416419
Name: pub_rec_bankruptcies, dtype: float64
tax_liens
Series([], Name: tax_liens, dtype: float64)

In [136]:
nan=float('NaN')
data2.replace(0,nan,inplace=True)
data2.replace('NA',nan,inplace=True)
data3=data2.dropna(axis=1,thresh=21000)
n3=data3.isnull().sum()